<!DOCTYPE html>
<html lang="en">
<head>
    #include("headerdcs.vm")
    <!--<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>云南省财经大学国际工商学院</title>
    <link rel="stylesheet" href="/pub/ibs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/pub/ibs/layui/css/layui.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--[if lt IE 9]>
    <script src="http://scottjehl.github.io/Respond/dest/respond.src.js"></script>
    <![endif]-->
</head>
<body>

    #parse("head2.vm")
    <div class="subBanner">
        <div class="subBannerImg" style="background-image: url(/pub/ibs/images/subBanner1.jpg); height: 210px;">
            <div class="sub_titleBig_title">
                <h2><span>$curChannel.title</span><i></i></h2>
            </div>
        </div>

    </div>
    <div class="main T">
        #set ($lsnavon= "")
        #set ($onChannel="")
        #if ($cms.getChannelCount($curChannel.ID)>0)
        #set ($onChannel = $curChannel)
        #else
        #if($curChannel.parent.ID==$rootChannel.ID)
        #set ($onChannel = $curChannel)
        #else
        #set($onChannel = $curChannel.parent)
        #end
        #end
        #if ($cms.getChannelCount($onChannel.ID)>0)
        <div class="subYmL col-md-2 col-sm-2 col-xs-12">
            #else
            <div style="display:none" class="subYmL col-md-2 col-sm-2 col-xs-12">
                #end

                <ul>
                    #foreach($channel in $cms.getChildren($onChannel))
                    #if($channel.ID== $curChannel.ID)
                    #set($lsnavon="color:red")
                    #else
                    #set($lsnavon="color:#ffff")
                    #end
                    <li style="height: 55px;">
                        <span><a style="$lsnavon" href="$cms.getUrl($channel)">$channel.title</a></span><em></em>
                    </li>
                    #end
                </ul>
                <!--<ul>
                    <li><span>学院简介</span><em>College Profile</em></li>
                    <li><span>学院机构</span><em>College institutions</em></li>
                    <li><span>历史沿革</span><em>History</em></li>
                </ul>-->
            </div>
            #if ($cms.getChannelCount($onChannel.ID)>0)
            <div class="subYmR col-md-10 col-sm-10 col-xs-12">
                #else
                <div class="subYmR col-md-12 col-sm-12 col-xs-12">
                    #end
                    <ol class="breadcrumb">
                        #foreach($channel in $cms.getPathChannels($curChannel))
                        <a href="$cms.getUrl($channel)">$channel.title</a>&raquo;
                        #end
                    </ol>
                    <div class="content">
                        <div class="wzbt"><h3>$curArticle.name</h3></div>
                        #set($teacherInfo=$cruArticle+'123123')
                        <div class="contentfl">

                            <ul class="row">
                                <li class="col-md-6 col-sm-6 col-xs-6"><span>时间：$cms.format($curArticle.publishDate,"YYYY-MM-dd")</span><em></em></li>
                                <li class="col-md-6 col-sm-6 col-xs-6"><span>来源：$!curArticle.author</span><em></em></li>

                            </ul>
                        </div>

                        <div class="contentN">
                            <p>
                                <FONT COLOR="NAVY">
                                    $curArticle.content
                                </FONT>
                            </p>
                        </div>

                        <div>
                            #if ($cmsService.getArticleAttachmentCount($curArticle.ID, 3)>0) <br />
                            相关附件：
                            <ul class="newslist">
                                #foreach($doc in $cms.getAttachments($curArticle))
                                <li><a href="$cms.getUrl($doc)">$doc.name</a></li>
                                #end
                            </ul>
                            #end
                        </div>
                    </div>

                <div style="clear: both;"></div>
            </div>
                </div>
            <!-- 演示时使用的样式，实际应用中删除，以免影响编辑器编辑之后的样式 -->
            <style type="text/css">

                .contentN {
                    text-align: center;
                }

                    .contentN p {
                        font-size: 14px;
                        color: #555;
                        text-align: justify;
                        text-align: left;
                        position: relative;
                    }

                    .contentN img {
                        max-width: 90%;
                    }
            </style>
            <!-- 演示时使用的样式，实际应用中删除，以免影响编辑器编辑之后的样式 -->
            #parse("footer2.vm")


            <script src="js/jquery-1.11.1.js"></script>
            <script src="bootstrap/js/bootstrap.min.js"></script>
            <script src="layui/layui.all.js"></script>
            <script src="js/web.js"></script>

</body>
</html>